.paragraph--type--gardening-image-block {
  position: relative;
  background-color: $primary;
  transition: all 0.2s linear;
  margin: 10px 0;
  &:hover {
    .gardening-title,
    .gardening-image-links,
    .gardening-cta_link,
    .subtitle {
      opacity: 1;
    }
    img {
      opacity: 0;
    }
  }

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    @media (max-width: $mediaXS) {
      max-height: none;
      // object-fit: cover;
    }
    &:hover {
      opacity: 0;
    }
  }

  .gardening- {
    &title,
    &cta_link {
      position: absolute;
    }
  }

  .gardening-title {
    bottom: 44px;
    left: 61px;
    font-size: 25px;
    font-weight: 600;
    color: white;
    opacity: 0;
    @media (max-width: $mediaM) {
      bottom: 52px;
      left: 30px;
      line-height: 20px;
    }
    @media (max-width: $mediaXS) {
      left: 40px;
      font-size: 20px;
      max-width: 200px;
      line-height: 24px;
      bottom: 63px;
    }
  }

  .gardening-image-links {
    position: absolute;
    bottom: 35px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    gap: 10px;
    margin: 0 34px;
    opacity: 0;
  }
  .subtitle {
    position: absolute;
    top: 44px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    gap: 10px;
    margin: 0 60px;
    opacity: 0;
    line-height: 27px;
    @media (max-width: $mediaM) {
      top: 48px;
      margin: 0 32px;
    }
    @media (max-width: $mediaXS) {
      font-size: 15px;
      bottom: 20%;
    }
  }

  .gardening-cta_link {
    display: none;
  }

  @media (max-width: $mediaXS) {
    margin: 10px 0;
  }
}
