.paragraph--type--greelan-why-choose-us {
  background-color: $white;
  box-shadow: 0 0 0 0 $white;
  .right-block {
    padding-bottom: 0 !important;
    @media (max-width: $mediaM) {
     margin: 0;
    }
    .header{
      margin: 0 27px;
      @media (max-width: $mediaM) {
      text-align: center;
      }
    }
    .topline{
      @media (max-width: $mediaXS) {
      text-align: center;
      }
    }
  }
  .why-us {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    padding: 50px 15px;
    padding-bottom: 0;
    @media (max-width: $mediaM){
      flex-direction: column;
    }
    @media (max-width: $mediaXS) {
      display: block;
      padding: 0 10px;
    }

    .why-us-title {
      max-width: 500px;
      margin-bottom: 20px;
      color: $primary;
      font-size: 50px;
      line-height: 60px;
      font-weight: 600;
      font-family: "Poppins", sans-serif;
      @media (max-width: $mediaM) {
        max-width: 570px;
      }

      @media (max-width: $mediaXS) {
        font-size: 35px;
        line-height: 45px;
        text-align: center;
      }
    }
    .why-us-subtitle,
    .why-us-description {
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
      color: $grey;
      @media (max-width: $mediaXS) {
        font-size: 15px;
      }
    }
    .fa-check {
      position: relative;
      top: -50px;
      left: -24px;
      font-size: 25px;
      color: green;
    }
  }
  .left-block img {
    border-radius: 25%;
    position: relative;
    animation: myfirst 2.5s infinite;
    animation-direction: alternate;
    @media (max-width: $mediaXS) {
      margin-bottom: 24px;
    }
  }

  @keyframes myfirst {
    0% {
      top: 0px;
    }
    50% {
      top: 25px;
    }
    100% {
      top: 0px;
    }
  }
}
