.paragraph--type--hero-banner {
    background: url("/themes/custom/bluetheme/images/composting-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .row {
        margin-right: 0;
        margin-left: 0;
    }
    .banner {
        margin: 50px 15px;
        .description {
            background: #33475891;
            padding: 19px;
            h1 {
                font-size: 45px;
                font-weight: 700;
                color: #aff32f;
                @media (max-width: $mediaXS) {
                    font-size: 35px;
                }
            }
            p {
                font-size: 25px;
                max-width: 600px;
                padding: 35px 0;
                color: $white;
                @media (max-width: $mediaXS) {
                    font-size: 20px;
                }
            }
        }
        .button {
            a {
                color: $black;
                background-color: #e8bb07;
                height: 60px;
                font-weight: 700;
                overflow: hidden;
                position: relative;
                padding: 10px 40px;
                align-items: center;
                display: inline-flex;
                justify-content: center;
                cursor: pointer;
                text-transform: uppercase;
                border-top-left-radius: 0px;
                border-top-right-radius: 30px;
                border-bottom-left-radius: 30px;
                top: 14px;
                left: 0;
                @media (max-width: $mediaXS) {
                    text-align: center;
                }
                &:hover {
                    color: $white;
                    background-color: $primary;
                    text-decoration: none;
                }
            }
        }
    }
}