.paragraph--type--hero-section-slider {
    position: relative;

	.hero-section {
			position: relative;
			img {
					width: -webkit-fill-available;
					height: 700px;
					opacity: 0.9;
			}
			&-title {
				position: absolute;
				top: 200px;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 80px;
				font-weight: bold;
					color: white;
				z-index: 1;
			}

			&-description {
			position: absolute;
			top: 60%;
			left: 50%;
			transform: translate(-50%, -50%);
					color: white;
			font-size: 25px;
			font-weight: bold;
			z-index: 1;
		}

			&-link {
			position: absolute;
			bottom: 100px;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 30px;
			cursor: pointer;
					z-index: 99;

			a {
					background-color: #e8bb07;
					height: 60px;
					font-weight: 700;
					overflow: hidden;
					position: relative;
					padding: 10px 40px;
					color: black;
					align-items: center;
					display: inline-flex;
					justify-content: center;
					cursor: pointer;
					text-transform: uppercase;
					border-top-left-radius: 0px;
					border-top-right-radius: 30px;
					border-bottom-left-radius: 30px;
					text-decoration: none;

				&:hover {
									color: white;
									background-color: green;
									text-decoration: none;
				}
			}
		}
	}

	button {
		&[data-controls="prev"],
		&[data-controls="next"] {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			background-color: $black;
			color: $black;
			font-size: 0;
			border: none;
			border-radius: 50%;
			text-align: center;
			line-height: 30px;
			font-size: 0;
			z-index: 99;
			cursor: pointer;
			height: 40px;
			width: 40px;
			opacity: 0.3;

			&::after {
				position: absolute;
				color: $white;
				bottom: 5px;
				left: 15px;
				font-size: 20px;
			}

			&:focus {
				box-shadow: none;
				opacity: 1;
			}
		}

		&[data-controls="prev"] {
			left: 10px;

			&::after {
				content: "<";
			}
		}

		&[data-controls="next"] {
			right: 10px;

			&::after {
				content: ">";
			}
		}
	}
}