$mediaL: 1220px;
$mediaM: 1024px;
$mediaS: 768px;
$mediaMS: 660px;
$mediaXS: 550px;

// Colors

$black: #000;
$blue: #1E40CA;
$blue2: #0055F8;
$blueDark: #032E86;
$blueDark2: #111C4A;
$blueDark3: #051C2C;
$blueLight: #37AEED;
$grey: #707070;
$greyLight: #F4F4F4;
$greyLight1: #F7F7F7;
$greyLight2: #CECECE;
$greyLight3: #C7C7C7;
$greyLight4: #D6D6D6;
$greyLight5: #B7B7B7;
$white: #fff;

// Body defaults

$bodyBg: $white;

$defaultFontColor: $black;
$defaultFontSize: 17px;
$defaultFontWeight: 400;
$defaultLineHeight: 20px;

$secondaryFontFamily: 'Bower', 'Arial', sans-serif;

// Components: Main

@import "00-base/fonts";
@import "00-base/variables";
@import "00-base/breakpoints";
@import "00-base/mixins";


@import "components/menu/nav-menu.scss";
@import "components/menu/footer-menu.scss";
@import "components/paragraphs/paragraph.scss";
@import "components/blocks/block.scss";
@import "components/paragraphs/link-card.scss";
@import "components/paragraphs/_blog-post-view-page.scss";
@import "components/paragraphs/_hero-banner.scss";
